<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117588416796-f61pgmov3ttue6ed69ah0bf5q1eacacl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117588416796-f61pgmov3ttue6ed69ah0bf5q1eacacl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117588416796-47gbv2g5gn06226muhut0qs909e59t3r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDZScbErJVH1EwPwwo8LWVD8WchaLl7RA</string>
	<key>GCM_SENDER_ID</key>
	<string>117588416796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hienlh.flutter</string>
	<key>PROJECT_ID</key>
	<string>hienlh-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hienlh-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117588416796:ios:ed17c5fe13a1a7eddb82d9</string>
</dict>
</plist>